* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 50%;
}
img {
  display: block;
  width: 100%;
}
a {
  display: block;
  text-decoration: none;
}
li {
  list-style: none;
}
.title {
  font-family: "Oxanium", sans-serif;
}
